.badge.rounded-pill {
    margin-left: 15px;
}

small {
    margin-left: 10px;
}

p.description-text {
    margin: 50px;
}

button.btn-outline-primary.dependency-link {
    background-color: white;
}
