.badge.rounded-pill {
    margin-left: 15px;
}

small {
    margin-left: 10px;
}

p.description-text {
    margin: 50px;
}

.col {
    text-align: left;
}

Button.btn-warning {
    margin-left: 20px;
    margin-right: 20px;
}

Button.btn-warning.related-apps {
    margin-left: 40px;
    margin-right: 40px;
}
