<!-- Styled login area -->
<div class="login area row">
  <div class="login banner">
    <h1 class="ui white header" style="font-weight:bold">
        <p class="nomargin">Labs Workbench allows developers to</p>
        <p class="nomargin">prototype tools that help build out the</p>
        <p class="nomargin">NDS framework and services.</p>
   </h1>

    <button class="btn btn-light btn-lg" (click)="loginWithGlobus()">Log In</button>
  </div>
</div>

<div class="container">
    <div class="row justify-content-md-center" style="margin:50px">
        <div class="row">
            <div class="col">
                <h2>How It Works...</h2>
            </div>
        </div>
    </div>

    <div class="row justify-content-md-center" style="margin:25px">
        <div class="col-6">
            <div class="row">
                <div class="col">
                    <h3 class="text-header">
                        <div class="row">
                            <div class="col-4"><span class="numeric-header">01</span></div>
                            <div class="col"><span class="header-text">Find the tools you need</span></div>
                        </div>
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p class="text-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in</p>
                </div>
            </div>
        </div>

        <div class="col-6" style="text-align:center;">
            <img class="image-content" src="assets/img/landing-diagram-1.png" width="316px" height="260x" />
        </div>
    </div>

    <div class="row justify-content-md-center" style="margin:50px;">
        <div class="col-6" style="text-align:center;">
            <img class="image-content" src="assets/img/landing-diagram-2.png" width="316px" height="316px" />
        </div>

        <div class="col-6">
            <div class="row">
                <div class="col">
                    <h3 class="text-header">
                        <div class="row">
                            <div class="col-4"><span class="numeric-header">02</span></div>
                            <div class="col"><span class="header-text">Run the tools on our cloud service</span></div>
                        </div>
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p class="text-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-md-center" style="margin:50px;">
        <div class="col">
            <button class="btn btn-dark btn-lg">Visit All the Apps</button>
        </div>
    </div>

    <div class="row justify-content-md-center" style="margin:50px">
        <div class="col-9">
            <div class="card text-dark bg-warning">
                <div class="card-body">
                    <h3 class="card-title">Have Issues With Your Service?</h3>
                    <a href="#" class="btn btn-dark btn-lg">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Fake footer -->
<div class="ui centered footer grid">
  <div class="ui inverted basic blue segment row">
    <div class="three wide column"></div>

    <div class="two wide column" title="University of Illinois at Urbana-Champaign">
        <a href="http://illinois.edu/">
            <img src="../../assets/img/uiuc-200.png" alt="University of Illinois at Urbana-Champaign" width="148" height="98.6" />
        </a>
    </div>
    <div class="two wide column" title="University of Chicago">
        <a href="http://www.uchicago.edu/">
            <img src="../../assets/img/uc-200.png" alt="University of Chicago" width="148" height="98.6" />
        </a>
    </div>
    <div class="two wide column" title="University of California, Santa Barabara">
        <a href="http://www.ucsb.edu/">
            <img src="../../assets/img/ucsb-200.png" alt="University of California, Santa Barabara" width="148" height="98.6" />
        </a>
    </div>
    <div class="two wide column" title="University of Texas at Austin">
        <a href="http://www.utexas.edu/">
            <img src="../../assets/img/ut-200.png" alt="University of Texas at Austin" width="148" height="98.6" />
        </a>
    </div>
    <div class="two wide column" title="University of Notre Dame">
        <a href="http://www.nd.edu/">
            <img src="../../assets/img/nd-200.png" alt="University of Notre Dame" width="148" height="98.6" />
        </a>
    </div>

    <div class="three wide column"></div>
  </div>
</div>


<app-footer></app-footer>
