
.tab-content {
    margin-top: 5vh;
}

.text-align-left {
    text-align: left;
}
.text-align-right {
    text-align: right;
}

.marginTop {
    margin-top: 5vh;
}
.marginLeft {
    margin-left: 5vh;
}

.text-red {
    color: red;
}
